@import "../../../styles/_colors.scss";
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $green;

  a {
    text-decoration: none;
    // color: $gray;
    color: white;
  }

  &__title {
    font-size: 40px;
    font-weight: bolder;
  }

  &__search {
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 2px 10px;

    img {
      padding: 5px;
      width: 50px;
      height: 50px;
    }

    input {
      padding: 5px 20px;
      border: none;
      accent-color: none;
      width: 400px;
    }
  }

  &__new {
    // border: 2px solid $gray;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      color: $green;
      // background-color: $gray;
      background-color: white;
    }
  }
}
